/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Remove list styles on ul, ol elements */
ul[class],
ol[class] {
  list-style: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../src/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../src/fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../src/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../src/fonts/Roboto-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'flowa';
  src: url('../src/fonts/flowa.woff2') format('woff2');
}

@font-face {
  font-family: 'pirulen';
  src: url('../src/fonts/pirulen.woff2') format('woff2');
}

#canvas {
  width: 100%;
  height: 100%;
}

#canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root {
  --white: color: hsla(0, 0%, 100%, 0.6)
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-kerning: auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.005em;
  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 22px;
  }
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  overscroll-behavior: none;
}
nav {
  position: fixed;
  z-index: 10000;
  top: 1%;
  left: 2%;
  width: 96%;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
  height: auto;
  padding:  0.5%;
  align-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 19%, 0.193);
  border-radius: 4px;
  color:hsla(0, 0%, 100%,0.8);
  font-family: 'pirulen';
  font-size: 0.5rem;
  text-align: center;
}

.menu-item {
  background-color: hsla(0, 0%, 19%, 0.193);
  color: hsla(0, 0%, 100%, 0.8);
  border-radius: 2px;
  padding: 0 0.5%;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}

.menu-item:hover {
  background-color: hsla(0, 0%, 19%, 0.5); /* Change the background color on hover */
  color: hsla(0, 0%, 100%, 1); /* Change the text color on hover */
  border-radius: 4px;
  padding: 0 0.5%;
  cursor: pointer; /* Change the cursor to a pointer on hover (optional) */
}

.ui {
  position: fixed;
  z-index: 10000;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
}

#input-bar {
  position: fixed;
  z-index: 100000;
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  align-content: space-between;
  width: 92vw;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Robot-Medium';
  font-size: 0.75rem;
  color: hsla(0, 0%, 100%, 0.8);
  background-color: hsla(0, 0%, 19%, 0.193);
  border-radius:4px;
}

#generateButton {
  font-size: 0.5rem;
  padding: 0 2%;
}
#ui-col-title {
  font-family: 'pirulen';
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1.2rem !important;
  user-select: none;
  text-transform: uppercase;
  color: hsla(0, 0%, 0%, 1.0);
}

#ui-title {
  font-family: 'flowa';
  font-size: 3rem;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: .04em;
  color: hsla(0, 0%, 100%, 1);
  mix-blend-mode: difference;

  margin-bottom: 0 !important;
  width: 100% !important;
  max-width: 80% !important;

  user-select: none;
  text-align: center;
  margin: 0 auto !important;

  text-transform: uppercase;

  @media screen and (min-width: 340px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 640px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 920px) {
    font-size: 4rem;
  }
}

#result-element {
  /* z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-weight: 500;
  font-family: 'Roboto-Thin';
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 1em;
  user-select: none;
  pointer-events: none;
}

#ui-bar-wraper {
  position: fixed;
  top: 4%;
  left: 2%;
  z-index: 1000;
  width: 96%;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
  height: auto;
  padding:  0.5%;
  align-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 19%, 0.193);
  border-radius: 4px;
  color:hsla(0, 0%, 100%,0.8);
  font-family: 'Roboto-Regular';
  font-size: 0.4rem;
  text-align: center;
  display: none;
}

ui-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
  padding:  2%;
  background-color: hsla(0, 0%, 100%,0.8);
  border-radius: 32px;
}

.tp {
  z-index: 1000;
  display: flex;
  flex-flow: row nowrap;
  /* gap: 8px; */
  /* position: absolute; */
  left: 0;
}

.tp2 {
  z-index: 1100;
  width: 88%;
  display: flex;
  align-content: center; 
  flex-flow: row;
  position: absolute; 
}

#debugger {
  bottom: 2%;
  max-height: 100%;
  mix-blend-mode: normal;
  overflow: scroll;
  scroll-behavior: smooth;
}

.data-layout-C {
  position: fixed;
  z-index: 190;
  bottom: 0;
  top: 0;
  left: 0;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  overflow: hidden;
  pointer-events: none;
}

.data-layout-R {
  position: fixed;
  z-index: 190;
  bottom: 0;
  top: 0;
  left: 0;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(6, 1fr);
  overflow: hidden;
  pointer-events: none;
}

.column, .row {
  border: 0.1px solid rgba(13, 13, 13, 0);
} 

#debug {
  text-align: center;
}